.ul-card-container {
  background: url("/assets/images/dots.png"),
    linear-gradient(90deg, #7467ef -19.83%, rgb(143, 133, 242) 189.85%);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
}

// analytic-2
button.ul-analytic-sup {
  position: absolute;
  right: -15px;
  top: -17px;
}
