.ul-sales-header {
  border-bottom: 1px solid $white;
}
.ul-sales-header--action {
  border-left: 1px solid $white;
}
.bg-circle {
  background: url("/assets/images/circles.png");
  background-size: cover;
}
