$ul-sidebar-panel-width: 450px;

.ul-sidebar-panel{
  position: fixed;
  height: 100vh;
  top: 0;
  width: $ul-sidebar-panel-width;
  transition: $transition-base;
  box-shadow: $shadow-2dp;
  background-color: $white;
  z-index: $z-index-aside	;
  &[data-position="left"]{
    left: -#{$ul-sidebar-panel-width};
    &.open{
      left: 0;
    }
    @media (max-width:450px){
      width: 90%;
    }
  }
  &[data-position="right"]{
    right: -#{$ul-sidebar-panel-width};
    
    &.open{
      right: 0;
    }
    @media (max-width:450px){
      width: 90%;
    }
  }
  
}
.ul-sidebar-panel-overlay{
  background-color: rgba($color: #000000, $alpha: 0.2);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: none;
  z-index: $z-index-overlay	;
  &.open{
    display: block;

  }
}
.ul-sidebar-panel-close{
  cursor: pointer;
  &:hover{
    color: $primary;
  }
}